<div class="container">
    <form [formGroup]="form">
        <label>Name</label>
        <input formControlName="name"
               [attr.disabled]="disabledInputs.includes('name') ? true : null" />
        <div class="details">
            <code>
                <pre>{{asDetails('name')|json}}</pre>
            </code>
        </div>
        <hr>
        <label>Last Name</label>
        <input formControlName="lastname"
               [attr.disabled]="disabledInputs.includes('lastname') ? true : null" />
        <div class="details">
            <code>
                <pre>{{asDetails('lastname')|json}}</pre>
            </code>
        </div>
        <hr>
        <label>Description</label>
        <textarea rows="5"
                  formControlName="description"
                  [attr.disabled]="disabledInputs.includes('description') ? true : null"></textarea>
        <div class="details">
            <code>
                <pre>{{asDetails('name')|json}}</pre>
            </code>
        </div>
    </form>
</div>
<div class="container">
    <h1>Actions</h1>
    <button (click)="toggleControlByName('name')">Enable / Disable 'Name' via Form</button>
    <button (click)="toggleControlByName('lastname')">Enable / Disable 'Last Name' via Form</button>
    <button (click)="toggleControlByName('description')">Enable / Disable 'Description' via Form</button>
    <hr>
    <button (click)="toggleDisabledAttributeForName('name')">Enable / Disable 'Name' via attr.disabled</button>
    <button (click)="toggleDisabledAttributeForName('lastname')">Enable / Disable 'Last Name' via attr.disabled</button>
    <button (click)="toggleDisabledAttributeForName('description')">Enable / Disable 'Description' via attr.disabled</button>
</div>
<div class="container">
    <h1>Form Value</h1>
    <code>
        <pre>{{form.value|json}}</pre>
    </code>
    <hr>
    <h1>Raw Form Value</h1>
    <code>
        <pre>{{form.getRawValue()|json}}</pre>
    </code>
    <hr>
    <h1>Form States</h1>
    <ul class="states">
        <li>Form Valid: <span [ngClass]="form.valid.toString()">{{form.valid}}</span></li>
    </ul>
</div>
